.bg-music {
    background-color: rgb(200, 200, 200);
    background-image: url("./music-background.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100%;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
}
  
.pagination li {
    display: block;
}

@media only screen and (min-width: 768px) {
    .vh-70 {
        height: 70vh;
    }
}

.table-transparent {
    background-color: transparent;
}
