.bg-not-found {
    background-color: black;
    background-image: url("./not-found-background.jpg"); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
